  <h2>{{deck.name | uppercase}} Details</h2>
  <div>
    <label>name:
      <input [(ngModel)]="name" placeholder="name"/>
    </label>
  </div>
  <h1>Mana Deck Balance</h1>
  <div>
    <label>red:
      <input [(ngModel)]="red" placeholder="red"/>
    </label>
    <label>blue:
      <input type="number" [(ngModel)]="blue" min="0" max="30"/>
    </label>
    <label>green:
      <input [(ngModel)]="green" placeholder="green"/>
    </label>
    <label>black:
      <input [(ngModel)]="black" placeholder="black"/>
    </label>
    <label>white:
      <input [(ngModel)]="white" placeholder="white"/>
    </label>
    <label>Lands:
      <input [(ngModel)]="lands" placeholder="lands"/>
    </label>
  </div>
<div>
  <button (click)="createDeck()" >Create</button>
  <button (click)="goBack()">go back</button>
</div>
